// *************************************
//
//   Typography
//
// *************************************


// -------------------------------------
//   Links
// -------------------------------------

a {

  &:hover {
    text-decoration: none;
  }

}

.link-reset {
  color: inherit;
}


// -------------------------------------
//   Utilities
// -------------------------------------

.text {

  &-contrast {
    color: #fff;
  }

  &-u {
    text-decoration: underline;
  }

}

hr {
  border-color: $gray-lightest;
}


// -------------------------------------
//   Lists
// -------------------------------------

.list-inline .menu-item {
  @extend .list-inline-item;
}
