// *************************************
//
//   Variables
//
// *************************************

// -------------------------------------
//   Custom Variables
// -------------------------------------

// -------------------------------------
//   Bootstrap overrides (3.3.5)
// -------------------------------------

// Glyphicons font path
// $icon-font-path      : "../fonts/";

// ----- Typography ----- //
$font-family-sans-serif : 'Ovo','Helvetica Neue', Helvetica, Arial, sans-serif !default;
// $font-size-h1           : 2.5rem;
$font-size-h2           : 1.65rem;
// $font-size-h3           : 1.75rem;
// $font-size-h4           : 1.5rem;
// $font-size-h5           : 1.25rem;
// $font-size-h6           : 1rem;

// ----- Colors ----- //
//$brand-primary          : #6a94b8;
// $brand-success       : #5cb85c !default;
// $brand-info          : #5bc0de !default;
// $brand-warning       : #f0ad4e !default;
// $brand-danger        : #d9534f !default;
$brand-primary          : #9EC3D0;
$brand-success          : #7E5F43;
$brand-success          : #7E5F43;

// ----- Options ----- //
$enable-flex            : true;

// ----- Grid containers ----- //
$container-max-widths   : (
  md : 900px,
  lg : 900px,
  xl : 900px
);

// ----- Grid columns ----- //
// Grid settings
//$main-sm-columns:       12;
//$sidebar-sm-columns:    4;
$grid-columns           : 10;
// $sidebar-sm-columns  : 4;

// ----- Container sizes ----- //
// $container-lg           : 970px;

// ----- Components ----- //
$border-radius:          .15rem !default;
// $border-radius-lg:       .3rem !default;
// $border-radius-sm:       .2rem !default;
