// *************************************
//
//   Headers
//
// *************************************

// -------------------------------------
//   Second Level
// -------------------------------------

// ----- Third Level ----- //

// Fourth Level

// -------------------------------------
//   Portfolio Header
// -------------------------------------

.header-portfolio {
  @extend .clearfix;
  @extend .text-muted;

  &__title,
  &__subtitle {
    margin: 0;
    font-size: inherit;
    line-height: 1;
  }

}

