// *************************************
//
//   Custom Mixins
//
// *************************************

// -------------------------------------
//   Second Level
// -------------------------------------

// ----- Third Level ----- //

// Fourth Level
//




// -------------------------------------
//   Masks
//   @include mask($value);
// -------------------------------------

@mixin mask($opacity) {

  &::before {
    background: #000;
    bottom: 0;
    content: " ";
    left: 0;
    opacity: $opacity;
    position: absolute;
    right: 0;
    top: 0;
  }

}


// -------------------------------------
//   Transitions
//   @include transition($property);
// -------------------------------------

@mixin transition($property) {
  transition-delay: 0.05s;
  transition-duration: 0.4s;
  transition-property: $property;
  transition-timing-function: ease;
}



// -------------------------------------
//   @alias element
//   https://css-tricks.com/snippets/sass/bem-mixins/
//   @include transition($property);
// -------------------------------------

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

/// @alias element
@mixin e($element) {
  @include element($element)  {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  @include modifier($modifier) {
    @content;
  }
}