// *************************************
//
//   Article Styles
//
// *************************************

article {

  a {
    text-decoration: underline;
  }

  .entry-summary {
    font-size: 0.9rem;
    line-height: 1.5;

    p {
      margin-bottom: 0;
    }
  }

  &.media {
    border-bottom: 1px solid $gray-lightest;

    &:last-child {
      border-bottom: none;
    }

    a {
      text-decoration: none;
    }

    .byline {
      margin-top: 0.25rem;
      color: $gray-light;
      font-size: 85%;
    }
  }

}
