// *************************************
//
//   Article Styles
//
// *************************************

article {

  a {
    text-decoration: underline;
  }

  .entry {

    &-title {

      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
      }

    }

    &-summary {
      font-size: 0.9rem;
      line-height: 1.5;

      p {
        margin-bottom: 0;
        line-height: 1.65;
        font-size: 90%;
      }

    }

  }

  .row {
    border-bottom: 1px solid $gray-lightest;

    &:last-child {
      border-bottom: none;
    }

    a {
      text-decoration: none;
    }

    .byline {
      margin-top: 0.25rem;
      color: $gray-light;
    }
  }

  .first-letter {
    font-size: 1.6rem;
    line-height: 32px;
  }

  .meta-text {
    @extend .text-muted;
    line-height: 1.65;
    font-size: 80%;
    font-style: italic;
  }

}
