// *************************************
//
//   Navigation
//
// *************************************

// -------------------------------------
//   Second Level
// -------------------------------------

// ----- Third Level ----- //

// Fourth Level

.banner {
  //margin: 50px 0 30px;

  .brand {
    // border-bottom: 1px solid $gray-lightest;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    &:hover {
      color: $gray-light;
    }
  }
}


// -------------------------------------
//   wp_nav_menu()
// -------------------------------------

.nav {
  // @extend .nav;
  // @extend .navbar-nav;
  // margin: 0;

  &-item {
    // @extend .nav-item;
  }

  &--primary {
    margin-top: 10px;
    max-width: 383px;

    ul {
      padding: 5px 0;
      border-color: $gray-lightest;
      border-style: solid;
      border-width: 1px 0;
    }

    li {
      @extend .list-inline-item;
    }

    a {
      // @extend .nav-link;
      margin: 0 5px;
      text-decoration: none;
    }

    .active a {
      @extend .active;
      color: $gray;
    }

  }

  &--footer {

  }

}


// -------------------------------------
//   metabar
// -------------------------------------

.metabar {
  //@extend .text-muted;
  color: $gray-light;
  font-size: 0.95rem;
}
